* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}



body {
  width: 70%;
  margin: auto;
text-align:left;
background-image: url(../img/wallpaper.jpg);
background-size: cover;
}

img {
  width: 10%;
  vertical-align: middle;
  margin: 20px;
}

#inputarea {
  margin-left: 30px;
}



hr {
  margin: 15px;
}

#logo {
display: inline;
vertical-align: middle;
color: red;
font-size: 20px;
}

#circle {
background-color: red;
border-radius: 50%;
}

#unreadalert {
  display: inline-block;
color: white;
font-size: 15px;
}


.messagge {
  background-color: grey;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

.text {
  display: inline-block;
  margin: 0px;
  font-size: 10px;
}

.testo {

color: white;
}

#footertext {

color: red;
font-size: 9px;

}

#footerco {

text-align: center;
color: white;
font-size: 11px;
}
